  <!-- Consent to use analytics -->
  <amp-consent id="myConsent" layout="nodisplay">
  <script type="application/json">{
        "consentInstanceId": "aidealist-consent",
        "consentRequired": true,
        "promptUI": "consentDialog",
        "postPromptUI": "post-consent-ui"
      }</script>
  <div class="lightbox" id="consentDialog">
    <div class="lightbox-content">
      <div class="dismiss-button" id="dismiss" role="button" tabindex="0"on="tap:myConsent.dismiss">✗</div>
      <div class="message">
        <h3 class="consent">Zgoda na na analitykę</h3>
        <p class="consent">Czy zgadzasz się na śledzenie przez Google Analytics na tych stronach? <br/> Dane są wykorzystywane przeze mnie na potrzeby analizowania liczby i źródeł odsłon. 
		Więcej dowiesz się z <a href="/privacy">polityki prywatności.</a></p>
      </div>
      <div id="choice">
		<button id="accept" on="tap:myConsent.accept">Zgadzam się</button>
		<button id="reject" on="tap:myConsent.reject">Nie zgadzam się</button>
      </div>
    </div>
  </div>
  <div id="post-consent-ui">
    <button id="change" on="tap:myConsent.prompt()">🍪</button>
  </div>
  </amp-consent>
<!-- Configure analytics to use gtag -->
<amp-analytics data-block-on-consent type="gtag" data-credentials="include">
<script type="application/json">
{
  "vars" : {
    "gtag_id": "{{ site.google_analytics }}",
    "config" : {
      "{{ site.google_analytics }}": { "groups": "default" }
    }
  }
}
</script>
</amp-analytics>